.navbar-flowblade {
    background-color: #457ad1;
}

.link-group {
    margin: auto;
    width: 30%;
}

.index-main {
    margin: auto;
    width: 50%;
    text-align: center;
}

.index-main-left {
    margin: auto;
    width: 50%;
    text-align: left;
}

.text-center {
    text-align: center;
}

.list-no-bullets {
    list-style-type: none;
}

.r-widget {
    display: inline-block;
    margin-top: 0px;
    margin-left: 15px;
    margin-bottom: 10px;
}

.filter-property {
    padding-left: 50px;
    font-size: 12px;
}

.filter-value {
    display: inline-block;
    color: #0000bb;
    font-size: 10px;
}

img {
    width: 100%;
    height: auto;
}