aside  {
    text-align: left;
    align-content: right;
    width: 50%;
    float: right;
}
footer {
    text-align: center;
}
header {
    text-align: center;
}

main {
    text-align: center;
    align-content: left;
    width: 40%;
}
nav {
    margin-left: 25px;
    margin-right: 25px;
}
nav ul {
    text-align: center;
}
nav li {
    display: inline;
}

.azure {
    background-color: #EFF;
}

.border {
    border-color: #A8A8A8;
    border-radius: 10px;
    border-style: solid;
}